button {
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display: inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
	margin-top: 3px;
	margin-left: 2px;
}
button:hover {
	background-color:#5cbf2a;
}

.dialog {
	position: relative;
	left: 25%;
}

.drpdwn{
	background-color:orange;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid orangered;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px orange;
	margin-top: 5px;
	margin-left: 3px;
}

.drpdwn:hover {
	background-color:#e9890d;
}

.addCaseBtn {
	position: absolute;
	top: 60px;
	left: 15%;
}

.deleteCaseBtn {
	position: absolute;
	top: 60px;
	left: 26%;
}

.searchCaseBtn {
	position: absolute;
	top: 60px;
	left: 54%;
}

.updateCase {
	position: absolute;
	top: 60px;
	left: 38%;
}

.addCopBtn {
	position: absolute;
	top: 3px;
	left: 14%;
}

.deleteCopBtn {
	position: absolute;
	top: 3px;
	left: 24%;
}

.updateCopBtn {
	position: absolute;
	top: 3px;
	left: 47%;
}

.searchCopBtn {
	position: absolute;
	top: 3px;
	left: 35%;
}

.raportBtn {
	position: absolute;
	top: 60px;
	left: 66%;
}

.addSuspect {
	position: absolute;
	top: 3px;
	left: 122px;
}

.deleteSuspect {
	position: absolute;
	top: 3px;
	left: 294px;
}

.searchSuspect {
	position: absolute;
	top: 3px;
	left: 485px;
}