.balabal {
    background-color:green;
    border: 1px solid #18ab29;
    color:#ffffff;
    font-family:Arial;
	font-size:17px;
    padding:16px 31px;
    width: 28%;
    margin-top: 5px;
    margin-left: 8px;
}

.notifDiv {
    background-color:orange;
    border: 1px solid #c98810;
    color:#ffffff;
    font-family:Arial;
	font-size:17px;
    padding:16px 31px;
    width: 28%;
    position: absolute;
    top: 76px;
    left: 864px;
    margin-top: 5px;
    margin-left: 8px;
}